.place__headings {
    display: flex;
    justify-content: start;
    max-width: 100%;
}

@media screen and (max-width: 696px) {
    .place__headings {
        flex-direction: column;
        margin: 0 16px;
    }
}