.cover__subtitle {
  font-weight: 400;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
  margin: 0;
}

@media (max-width: 696px) {
  .cover__subtitle {
    max-width: calc(100% - 32px);
    font-size: 14px;
    line-height: 16px;
  }
}
