.footer__links {
    display: flex;
    width: 465px;
    justify-content: space-between;
}

@media screen and (max-width: 725px) {
    .footer__links {
        width: 60vw;
    }    
}

@media screen and (max-width: 551px) {
    .footer__links {
        flex-direction: column;
        width: 60vw;
    }    
}
