.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  text-align: center;
  max-width: 100%;
  margin: 0;
}
@media (max-width: 696px) {
  .cover__title {
    font-size: 32px;
    line-height: 36px;
    max-width: calc(100% - 32px);
    margin: 33px 0 16px;
  }
}
