.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 48px 24px;
}

@media screen and (max-width: 789px) {
    .footer {
        margin: 0 24px 24px;
    }
    
}

@media screen and (max-width: 696px) {
    .footer {
        margin: 0 16px 24px;
    }
    
}

@media screen and (max-width: 551px) {
    .footer {
        flex-direction: column;
        margin: 0 16px 24px;
    }
    
}